.container{
    background-image: url("world1.jpg");
    justify-content: center;
    text-align: center;
    width:700px;
    height: 1500px;
    font-size: 20px;
    margin: auto;
    padding:"20px";
    border: 3px solid pink;
    border-radius: 30px;
    box-shadow:10px 10px;
    color: white;
    
    
}
.container1 {
    justify-content: center;
    padding: 10px;
  }